[defaults]
inventory = inventory/hosts.yml
roles_path = roles
interpreter_python = /usr/bin/python3
retry_files_enabled = False
display_skipped_hosts = False
host_key_checking = False

[privilege_escalation]
become_method = sudo

[ssh_connection]
pipelining = True
